* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#nav {
	height:70px;
	width: 100%;
	position: fixed;
	display: block;
}

#nav ul {
	list-style-type: none;
	margin-top: 1.5%;
	text-align: right;
}

#nav li {
	display: inline;
	color: white; 
	margin: 0 1%;
	font-family: 'Lato', sans-serif;
	color: #F7F6F6;
	font-stretch: semi-expanded;
}

#nav img {
	float:left;
}

#hero {
	background-image: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg");
	height: 500px;
	background-size: cover;
}

#intro {
	background-color: #F0F0F0;
}






/* 
#locations-col1 {
	background-image: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wilmington.jpg");
	background-size: cover;
}

#locations-col2 {
	background-image: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/asheville.jpg");
	background-size: cover;
}